*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.sea {
    height: 100%;
    background-color: black;
    background-image: url('sea.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: antiquewhite;
}

p{
    font-size: 20px;
    /* text-align: center; */
    color: antiquewhite;
}

#link{
  font-family: 'Orbitron';
  color: antiquewhite;
  padding: 10px;
  text-decoration: none;
  margin: 20px;
  border: 2px solid antiquewhite;
  border-radius: 5px;
}

#link:hover{
  color: greenyellow;
  border: 2px solid greenyellow;
  background-color: #232526;
  transition: all 0.45s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}